<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Vynas.Properties.Settings.knnConnectionString" connectionString="user id=root;password=password;persistsecurityinfo=True;server=localhost;database=knn"
            providerName="MySql.Data.MySqlClient" />
        <add name="Vynas.Properties.Settings.knnConnectionString1" connectionString="server=localhost;user id=root;password=password;database=knn"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>